
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.table__header__wrapper {
    padding-bottom: 15px;
}

.table-flex th, td {
    /*TODO пока не подходит такое решение*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
}

body.padding-top {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("/img/bg-3.jpg") center center no-repeat;
    background-size: cover;
}

.loginscreen.middle-box {
    padding: 0 50px 20px 50px;
    width: 400px;
    background: rgba(230, 230, 230, .3);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.middle-box h1 {
    margin: 0;
}



#toast-container > div.toast-success {
    background-color: #1ab394;
    border-color: #1ab394;
    background-image: none !important;
    padding: 15px;
}

#toast-container > div.toast-error {
    background-color: #ED5565;
    border-color: #ED5565;
    background-image: none !important;
    padding: 15px;
}

#toast-container > div.toast-info {
    background-color: #1c84c6;
    border-color: #1c84c6;
    background-image: none !important;
    padding: 15px;
}

#toast-container > div.toast-warning {
    background-color: #f8ac59;
    border-color: #f8ac59;
    background-image: none !important;
    padding: 15px;
}

.badge {
    padding: 2px 4px;
    border-radius: 2px;
}

.gallery_list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.gallery_list li {

}

.gallery_list li:hover a,
.gallery_list li.active a {
    color: #1ab394;
}

.gallery_list li a {
    display: block;
    color: #666;
    padding: 5px 10px;
    transition: .3s ease-in-out;
}